<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>CodeCure</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="main-page">

        <header class="site-header">

            <a href="{{ url_for('home') }}" class="logo-link">
                <img src="{{ url_for('static', filename='images/logos/logo.png') }}" class="logo">
            </a>

            <nav class="main-nav">
                <ul class="nav-list">

                    <li><a href="{{ url_for('home') }}">Home</a></li>

                    <li><a href="{{ url_for('donor_register') }}">Blood Donate</a></li>

                    <li><a href="{{ url_for('contact') }}">Contact</a></li>

                    <li><a href="{{ url_for('about_us') }}">About Us</a></li>

                </ul>
            </nav>

            <a href="{{ url_for('user_profile') }}">
                <img src="{{ url_for('static', filename='images/logos/user.png') }}" class="user">
            </a>

        </header>


        <section class="hero">

            <div class="hero-text">

                <p class="tagline">Your Health, Our Priority</p>

                <h1>
                    <span class="green">Empowering you to live</span>
                    <span>A Healthier Life</span>
                </h1>

                <p class="description">
                    Discover expert care, advice, and tools to achieve your wellness goals.
                    Personalized health solutions for your unique needs.
                </p>

                <a href="{{ url_for('index') }}" class="cta-btn">
                    Let's Get Started
                </a>

            </div>

        </section>

    </div>

</body>

</html>